@inherits LayoutComponentBase

<div class="page d-flex">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="topnav">
           @* <TopNavMenu></TopNavMenu> *@
            
        </div>
        <div class="main-content">
            @Body
        </div>
    </div>
</div>