@inherits LayoutComponentBase
@using UpscGeek.Client.Pages.Shared
<TopNavMenu></TopNavMenu>
 <div class="container-fluid main">
     <div class="container content d-flex">
         <NavMenu/>
         @Body
     </div>
 </div>