.Side-Nav {
    height: 100vh;
    background: #122541;
    width: 250px;
}
li.rz-navigation-item {
    background: rgb(18,37,65);
}
.menuPanel{
    background: #0b2e13;
}
.topheading{    
  
    font-size: 25px;    
    font-weight: bolder;
    color:white;
    padding-top: 30px;
    margin-left: 30px;
    display:flex;
    
}
.letterg {
    color: #F46663;
}
.nav-list{
    list-style-type: none;
    padding: 0;
}
.nav-item{
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color:WHITE;
    padding: 5px 18px;
    
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
}

    .nav-item:hover {
        border-radius: 18px;
        color: #0b2e13;
        background-color: #ECF1F7;
        border: 1px solid #F46663;
        /*height: 40px;*/
    }

.active, .active:hover {
    color: #0b2e13;
    background-color: #ECF1F7;
    border-radius: 18px;
    
    /*height: 40px;*/
}