<div class="sidenav">
                <!-- <div class="mainheader">UPSC GEEK</div> -->
                <ul class="nav-items">
                    <li class="nav-link active">Home</li>
                    <li class="nav-link">Current Affairs</li>
                    <li class="nav-link">Subjects</li>
                    <li class="nav-link">Notifications</li>
                    <li class="nav-link">Shop</li>
                    <li class="nav-link">Leaderboard</li>
                    
                </ul>
</div>