.main{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
   background-color:  #FCFCFC;
}
.nav{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 50px;
    display: flex;
    align-items: center;
}
.sidenav{
    padding-right: 12px;
    /* border-right:1px solid black; */
}
.content{
   
    width: 100%;
    height: 100%;
}
.nav-link{
    display: flex;
    margin-top: 12px;
    width: 200px;

}
.nav-link:hover{
    background-color: white;
    border-radius: 12px; 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.nav-link.active{
    background-color: white;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    
}
.top-header{
    border-radius: 18px;
    border:1px solid lightblue;
    margin: 12px;
}
.subjects{
    padding:0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    margin: 0;
}
.subject{
    list-style: none;
    margin: 6px;
    padding: 6px 40px 6px 40px;
    display: flex;
    align-items: center;
}
.subject.active{
    background-color: lightblue;
    color: blue;
    border-radius:40px ;
}

.subject-content{
    box-shadow: rgba(147, 156, 165, 0.2) 0px 8px 24px;
    margin: 12px;
    /* height: 80px; */
    padding: 12px;
    
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    color: black;
    font-size: xx-large;
    height: 100%;
    background-color: rgba(255, 255, 255, .15);
  
  backdrop-filter: blur(5px);
    
}

.subjectcard{
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-radius: 12px;
}
.subjectName{
    margin-left: 20px;
}
.subjectcard:hover{
    background-color: #e7e6e5;
    cursor: pointer;
}