@using System.Reactive.Subjects
@using Subject = UpscGeek.Core.Entities.Subject

@foreach (Subject subject in subjects)
{
     <div class="subjectcard">
                            <div class="subjectName">@subject.SubjectName</div>
                            <i class="fas fa-arrow-right"></i>
      </div>
}
