@using System.Reactive.Subjects
@using Subject = UpscGeek.Core.Entities.Subject
@foreach (Subject subject in subjects)
{
    <Card Bordered="false" Title=@subject.SubjectName Class="subjectcard">
        <Body>
        <p>@subject.Paper</p>
        </Body>
    </Card>
}