@page "/Subjects"
@using UpscGeek.Core.Entities
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using UpscGeek.Core.Entities.Enum;
@using UpscGeek.Client.Pages.Shared;
<div class="subjectsNav">
    <div class="s-nav-item active">
        All
    </div>
    <div class="s-nav-item">
        GS-I
    </div>
    <div class="s-nav-item">
        GS-II
    </div>
    <div class="s-nav-item">
        GS-III
    </div>
    <div class="s-nav-item">
        GS-IV
    </div>
</div>
<SubjectView subjects="subjects"></SubjectView>
