@page "/Subjects"
@using UpscGeek.Client.Pages.Shared;
@using UpscGeek.Core.Entities.Enum
<div class="main-content">
                <div class="top-header">
                    <ul class="subjects">
                        <li class="subject active">All</li>
                        <li class="subject">GS-I</li>
                        <li class="subject">GS-II</li>
                        <li class="subject">GS-III</li>
                        <li class="subject">GS-IV</li>
                    </ul>
                </div>
                <div class="subject-content">
                   
<SubjectView subjects="FilteredSubjects"></SubjectView>
                </div>
            </div>
