.subjectsNav {
    color: #ECF1F7;
    background-color: #0A1930;
    border-radius: 30px;
    display: flex;
    margin:12px;
    border: 1px solid #5F6A8A;
}
.s-nav-item{
    height:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:54px;
    padding:0 30px 0 30px;
    margin:6px;
}
.active{
    background-color: #ECF1F7;
    color: #5F6A8A;
    border-radius:18px;
}
.s-nav-item:hover{
    cursor:pointer;
}